@font-face {
    font-family: 'EllisDigitalCoding400';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'EllisDigitalCoding700';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Orbit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

:root {
    /* 컬러 변수 등록 */
    --primary-color: #3880FF;
    --primary-variant-color: #2F3C4F;
    --accnet-color: #FF5F57;
    --white: #fff;
    --black: #000;

    font-family: 'Orbit';
}

.App {
    /* background-color: grey; */
    /* border: 10px solid orange; */
    width: 100vw;
    height: 100vh;

}

.btn {
    font-size: 100px;
    position: relative;
    bottom: -20;
    left: -20;
    cursor: pointer;
    background-color: yellow;
    border: 10px solid black;
}

.btn:hover {
    background-color: orange;
    font-weight: bold;
}