.pageBG {
    background-image: url(../../public/images/bgwall.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.iconBox {
    position: relative;
    width: 240px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;

    transition: 0.2s;
}

/* .iconBox:hover {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    box-shadow: 0 0px 5px rgb(0, 0, 0);
    background-color: rgba(16, 58, 211, 0.7);
    cursor: pointer;

} */

.iconBox.iconHoverd {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    box-shadow: 0 0px 5px rgb(0, 0, 0);
    background-color: rgba(16, 58, 211, 0.7);
    cursor: pointer;

}

/* .iconBox::after {
    content: "clická…³start";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
text-shadow: 0 0 1rem rgb(16, 58, 211);
color: white;
}

*/

.iconImg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid greenyellow; */
    /* perspective: 1000px; */
}



.iconName {
    /* border: 1px solid red; */

    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* gap: 30px; */
    position: absolute;

    top: 100%;
    margin-top: 0.5rem;
    /*  padding: 0.2rem 0 0.3rem 0; */
}

/* .iconName>span {


} */



.lineSvg {
    /* background-color: red; */
    /* border: 4px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


/* login jsx */

.loginBox {
    font-size: 1rem;

    /* border: 1px solid olivedrab; */
    position: relative;
    /* position: absolute;
    left: 0;*/
    bottom: 0;
    width: 100%;
    /* height: 100%; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.titleBox {
    color: #fff;
    /* border: 1px solid skyblue; */
    border-radius: 0.5rem;

    transition: 0.2s;
    padding: 0.2rem 0.1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 1rem; */
}




.titleBox.iconHoverd {
    background-color: rgba(16, 58, 211, 0.7);
    border-radius: 0.25rem;
    outline: 2px solid rgba(255, 255, 255, 0.5);

}

/* .iconBox:hover .titleBox {
    background-color: rgba(16, 58, 211, 0.7);
    border-radius: 0.25rem;
    outline: 2px solid rgba(255, 255, 255, 0.5);

} */

.explainBox {
    background-color: white;
    width: 100vw;
    text-align: center;
    height: 0rem;
    transition: 0.4s;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explainBox span {
    color: #000000;
    /* display: none; */
    line-height: 1.5rem;
}

/* .iconBox:hover .explainBox {
    visibility: visible;
    height: 20rem;
} */

.explainBox.iconHoverd {
    visibility: visible;
    height: 20rem;
}


.renameInput {
    text-align: center;
    color: #fff;
    font-size: 1rem;
    padding: 0.2rem;
    background-color: rgba(16, 58, 211, 0.7);
    border: none;
    border-radius: 0.25rem;
    outline: 2px solid rgba(255, 255, 255, 0.5);
    width: 50%;
}