.pageBG {
    background-image: url(../../public/images/bgwall.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.iconBox {
    position: relative;
    /* border: 8px solid white; */
    /* width: 1400px;
    height: 1800px; */
    width: calc(100vw / 5);
    height: calc(100vh / 5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px;
}



.iconImg {
    width: 100%;
    height: 100%;

}

.iconImg.active {
    background-color: white;

}

.iconImg>* {
    /* border: 6px solid greenyellow; */
}

.iconName {
    /* border: 8px solid red; */

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    position: absolute;
    bottom: -40px;
}

.iconName>span {
    font-size: 16pt;
    color: white;
    text-shadow: 0 20px 5px rgba(0, 0, 0, 1);
}