.loadingBg {
    border-radius: 0.25rem;
    outline: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
    /* outline: 2px solid rgba(255, 0, 0, 0.5); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: rgb(255, 255, 255);
    /* backdrop-filter: grayscale(100); */
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transition: 0.3s; */
}


.loadingSymbol {
    animation: myRotation1 2s infinite linear;
}

.loadingText {
    text-shadow: 0 0 2px #000000;

}



.loadingBg.showError {
    background-color: none;
    backdrop-filter: invert(100);
    outline: none;

    /* padding: 1rem; */
}

.errorSymbol {
    animation: myRotation2 2s infinite linear;
}

.errorText {
    width: 100%;

    color: black;
    padding: 1rem;
    word-break: keep-all;
    text-align: center;
    line-height: 1.2rem;
    /* box-shadow: 0 0 4px black; */
    background-color: rgba(255, 0, 0, 0.75);
}

.errorText>p {
    padding: 0.5em;
}

@keyframes myRotation1 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes myRotation2 {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}