.NewTotalPage {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.modelArea {
    border: 1px solid red;
    width: 10vw;
    aspect-ratio: 3/4;
}




.BuildingCompo {
    background-color: aquamarine;
}