.con {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
}

ul {
    border: 10px solid blueviolet;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    /* overflow: auto; */
}

.card {
    /* background-color: rgba(255, 255, 255, 0.5); */
    border: 1px solid red;
    /* width: 450px;
    height: 800px; */
    animation: bounceY1 1s infinite alternate ease-in-out;
}

.card:nth-child(even) {
    /* border: 1px solid blue; */
    position: relative;
    top: 200px;
    animation: bounceY2 1s infinite alternate ease-in-out;
}


@keyframes bounceY1 {
    0% {
        transform: translateY(0);
        transform: translateX(0);
    }

    100% {
        transform: translateY(20px);
        transform: translateX(10px);
    }
}

@keyframes bounceY2 {
    0% {
        transform: translateY(0);
        transform: translateX(0);
    }

    100% {
        transform: translateY(-10px);
        transform: translateX(-20);
    }
}